.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 80px;
}

.not-found__image {
  width: 96px;
}

.not-found__title {
  margin: 0;
  
  padding: 0;
  color: #1a1b22;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin-top: 24px;  
  
}

.not-found__text {
    margin-top: 16px;  
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  max-width: 310px;
  text-align: center;
}
