.header {
  background-image: url(../../images/background/desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 575px;
}

.header__white {
  background-color: #fff;
}

@media screen and (max-width: 860px) {
  .header {
    min-height: 400px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    background-image: url(../../images/background/mobile.jpg);
    min-height: 536px;
  }
}
