.nav {
  color: #fff;
  box-shadow: inset 0px -1px 0px #d1d2d6;
  width: 100%;
}

.nav__container {
  max-width: 1232px;
  width: calc(100% - 104px * 2);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__news-explorer {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.nav__item-list {
  margin: 0;
  padding: 0;
}

.nav__link {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.nav__link_active-home,
.nav__link_active-news {
  border-bottom: 3px solid;
  padding: 27px 0;
}

.nav__link_active-home {
  border-bottom-color: #fff;
}

.nav__link_active-news {
  border-bottom-color: #000;
}

.nav__button {
  margin: 19px 0 13px 0; /* top right bottom left */
  padding: 12px; /* top right bottom left */
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  border: none;
  color: #fff;
  min-width: 112px;
  border: 1px solid #fff;
  border-radius: 100px;
  cursor: pointer;
}

.nav__logout {
  padding-left: 19px;
  display: flex;
  justify-content: space-around;
}

.nav__username {
  max-width: 56px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav__black {
  color: #1a1b22;
  background-color: #fff;
}

.nav__item-list:last-child .nav__black {
  border: 1px solid #1a1b22;;
  border-radius: 100px;
}

/* The break points should be between 768 to 1024 */
@media screen and (max-width: 1148px) {
  .navigation__container {
    width: calc(100% - 100px * 2);
  }
}

/* The break points should be between 768 to 1024 */
@media screen and (max-width: 860px) {
  .nav__container {
    width: calc(100% - 40px * 2);
  }

  .nav__link_active-news,
  .nav__link_active-home {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .nav__button {
    margin: 14px 0 12px 0; /* top right bottom left */
    padding: 8px 15px; /* top right bottom left */
    font-size: 16px;
    min-width: 100px;
  }

  .nav__username {
    max-width: 35px;
  }
}

@media screen and (max-width: 635px) {
  .nav__container {
    width: calc(100% - 20px * 2);
  }
}
